.card {
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: box-shadow 0.3s ease; /* Transición suave al pasar el mouse */
    background: linear-gradient(45deg, rgba(255, 87, 51, 0.7), rgba(255, 195, 0, 0.7)); /* Fondo con degradado y transparencia */
    color: #ffffff; /* Color de texto blanco */
    padding: 20px; /* Espaciado interno */
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Aumentar la sombra al pasar el mouse */
}

.card-title {
    color: #ffffff; /* Color de texto blanco */
    font-size: 1.5rem; /* Tamaño del título */
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 10px; /* Margen inferior */
}

.card-text {
    color: rgba(255, 0, 200, 0.85); /* Color de texto blanco con transparencia */
    font-size: 1rem; /* Tamaño del texto */
    margin-bottom: 5px; /* Margen inferior */
}

.container {
    padding: 20px 0; /* Espaciado alrededor de las tarjetas */
}

.transparent-btn {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7);
    border-color: transparent;
    margin-right: 0.5rem; /* Espaciado entre los botones */
    padding: 0.375rem 0.75rem; /* Espaciado interno de los botones */
}

.transparent-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.9);
}


/* Estilos para dispositivos móviles */
@media (max-width: 576px) {
    .card {
        border-radius: 12px;
    }
}

/* Estilos para tablets */
@media (min-width: 577px) and (max-width: 992px) {
    .card {
        border-radius: 10px;
    }
}

/* Estilos para laptops y pantallas de escritorio */
@media (min-width: 993px) {
    .card {
        border-radius: 8px;
    }
}
