.card {
    position: relative;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    background: transparent;
    border-radius: 10px;
    overflow: hidden;
    border: none;
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
}

.card-text {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5rem; /* Ajustar el espacio entre párrafos */
    color: blue;
    font-size: 1rem; /* Tamaño de fuente base */
}

.card-body {
    padding: 1rem; /* Espaciado interno */
    border: none;
}

.transparent-btn {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.transparent-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
    color: rgba(220, 196, 196, 0.9);
}

.card-name {
    font-size: 1.2rem; /* Tamaño de fuente del nombre del cliente */
    margin-bottom: 0.75rem; /* Espaciado entre el nombre y otros elementos */
}

.card-icons {
    display: flex;
    justify-content: center;
    margin-top: 1rem; /* Espaciado superior para los iconos */
}

.card-icon {
    margin: 0 0.5rem; /* Espaciado entre los iconos */
    font-size: 1.2rem; /* Tamaño de los iconos */
    color: rgba(255, 87, 51, 0.7);
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.customer-info {
    flex-grow: 1;
}

.action-buttons {
    display: flex;
    align-items: center;
}

/* Media query para pantallas de tamaño mediano (laptops y tablets en posición horizontal) */
@media screen and (max-width: 1024px) {
    .card-text {
        font-size: 0.9rem;
    }

    .card-name {
        font-size: 1rem;
    }

    .card-icon {
        font-size: 1rem;
    }

    .transparent-btn {
        font-size: 0.9rem;
        padding: 0.5rem 1rem; /* Ajustar el espaciado interno del botón */
    }
}

/* Media query para tablets en posición vertical y dispositivos móviles */
@media screen and (max-width: 768px) {
    .card-text {
        font-size: 0.8rem;
    }

    .card-name {
        font-size: 0.9rem;
    }

    .card-icon {
        font-size: 0.9rem;
    }

    .transparent-btn {
        font-size: 0.8rem;
        padding: 0.4rem 0.8rem;
    }
}

/* Media query para pantallas de tamaño pequeño (celulares) */
@media screen and (max-width: 576px) {
    .card-text {
        font-size: 0.7rem;
    }

    .card-name {
        font-size: 0.8rem;
    }

    .card-icon {
        font-size: 0.8rem;
    }

    .transparent-btn {
        font-size: 0.7rem;
        padding: 0.3rem 0.6rem;
    }
}

.triangle {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-bottom: 15px solid white; /* Color de fondo del contenedor */
    cursor: pointer;
    z-index: 1; /* Asegurar que esté sobre el contenido */
}

.triangle.active {
    border-bottom-color: transparent; /* Cambiar el color de fondo cuando está activo */
}