.table-custom {
    font-size: 16px;
    border-collapse: collapse; /* Colapsar los bordes de la tabla */
}

.table-custom th, .table-custom td {
    padding: 8px; /* Añadir espaciado interno a las celdas */
    text-align: center; /* Alinear el texto al centro */
    border: 1px solid #dee2e6; /* Agregar bordes a las celdas */
}

.table-custom thead th {
    background-color: rgba(255, 99, 71, 0.8);
    color: #ffffff;
}

.table-custom tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}

.table-custom tbody tr:hover {
    background-color: rgba(255, 0, 200, 0.5);
}

/* Estilo para los correos electrónicos */
.table-custom td:nth-child(3) { /* Considerando que el correo electrónico está en la tercera columna */
    color: #007bff; /* Color azul */
    text-decoration: underline; /* Subrayado */
}

/* Estilo para los números de teléfono */
.table-custom td:nth-child(4) { /* Considerando que el teléfono está en la cuarta columna */
    text-align: center; /* Alinear a la derecha */
    font-weight: bold; /* Texto en negrita */
}

/* Estilo para la dirección */
.table-custom td:nth-child(5) { /* Considerando que la dirección está en la quinta columna */
    font-family: 'Courier New', monospace; /* Tipo de letra monoespaciada */
}
